<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">

</head>


<body>

<h1> Delete Item </h1>

<form action='{{url_for('deleteItem', itemCategory = itemCategory, item=item )}} ' method="POST"> 
<p>Delete Item: {{item.name}} </p>

<p>Are you sure you want to delete? </p>


<input type="submit" name="delete">
</form>

<a href='{{url_for('showItemDescription', itemCategory= item.itemCategory, item=item.name ) }}'>Cancel - Go Back</a>

</body>

</html>